body{
    color: #484848;
    padding: 0px 30px;
}
p{
    font-family: Georgia,serif;
    font-size: 14px;
    line-height: 18px;
}
div.inline{
    display: inline;
    float: left;
    margin-right: 20px;
}
div.toplevel-label-wrapper{
    display: block;
}
div.label-wrapper{
    display: inline-block;
    min-width: 150px;
    text-align: right;
}
.text-allign-left{
    text-align: left !important;
}
textarea{
    resize: none;
}
div.sections-separator{
    clear: both;
    width: 100%;
    border: 1px solid;
    border-right-color:	#484848;
}