{% extends "base.html" %}

{% load staticfiles %}
{% block extra_head %}
<link rel="stylesheet" href='{% static "css/main.css" %}' />
{% endblock %}

{% block content %}
<h1>42 Coffee Cups Test Assignment</h1>
<div class="inline">
    <p>
        <div class="label-wrapper text-allign-left">Name:</div>
        {{person.user.first_name}}
    </p>
    <p>
        <div class="label-wrapper text-allign-left">Last name:</div>
        {{person.user.last_name}}
    </p>
    <p>
        <div class="label-wrapper text-allign-left">Date of birth:</div>
        {{person.date_of_birth}}
    </p>
    <p><div class="label-wrapper text-allign-left"></div></p>
    <p>
        <div class="toplevel-label-wrapper">Bio:</div>
        <textarea cols="50" rows="6">{{person.bio}}</textarea>
    </p>
</div>
<div class="inline">
    <p><div class="label-wrapper text-allign-left">Contacts</div></p>
    <p>
        <div class="label-wrapper text-allign-left">Email:</div>
        {{person.user.email}}
    </p>
        <div class="label-wrapper text-allign-left">Jabber:</div>
        {{person.jabber}}
    </p>
        <div class="label-wrapper text-allign-left">Skype:</div>
        {{person.skype}}
    </p>
        <div class="toplevel-label-wrapper">Other contacts:</div>
        <textarea cols="50" rows="6">{{person.other_contacts}}</textarea>
    </p>
</div>
{% endblock %}