{% extends "base.html" %}

{% load staticfiles %}
{% load hello_templatestags %}
{% block extra_head %}
<link rel="stylesheet" href='{% static "css/main.css" %}' />
{% endblock %}

{% block content %}
<h1>42 Coffee Cups Test Assignment</h1>
{% if person.user.id %}
<div class="inline">
    <p>
        <div class="label-wrapper text-allign-left">Name:</div>
        {{person.user.first_name}}
    </p>
    <p>
        <div class="label-wrapper text-allign-left">Last name:</div>
        {{person.user.last_name}}
    </p>
    <p>
        <div class="label-wrapper text-allign-left">Date of birth:</div>
        {{person.date_of_birth}}
    </p>
    {% include "hello/profile_image.html" with profile=person %}
</div>
<div class="inline">
    <p><div class="label-wrapper text-allign-left">Contacts</div></p>
    <p>
        <div class="label-wrapper text-allign-left">Email:</div>
        {{person.user.email}}
    </p>
        <div class="label-wrapper text-allign-left">Jabber:</div>
        {{person.jabber}}
    </p>
        <div class="label-wrapper text-allign-left">Skype:</div>
        {{person.skype}}
    </p>
        <div class="toplevel-label-wrapper">Other contacts:</div>
        <textarea cols="50" rows="6">{{person.other_contacts}}</textarea>
    </p>
    <p>
        <div class="toplevel-label-wrapper">Bio:</div>
        <textarea cols="50" rows="6">{{person.bio}}</textarea>
    </p>
</div>
{% else %}
<h3>There is no Person data in system yet</h3>
{% endif %}
<div>
{% if user.is_authenticated %}
    <h3>Hello {{ user.username }}!</h3>
    <a href="{% url 'logout' %}">Log Out</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
{% endif %}
{% edit_link person %}
</div>
<div class="sections-separator"></div>
<a href="{% url 'requests' %}">Requests</a>
{% endblock %}